PORT=7777
DOMAIN=sum

# mysql db connection
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sum
DB_USER=sum
DB_PASS=sum

# data path
DATA_PATH=.data

DEBUG=true

BOAT_PREFIX=?

MAP_MIRROR_API=the
OSU_API_KEY=the

OMAJINAI_URL=http://localhost:5000

REDIS_URL=redis://localhost:6379

DISCORD_RANK_WEBHOOK=

ENABLE_OLD_CLIENT_CHECK=false